<div class="container">
  <div class="header">
    <h1>My Videos</h1>

    <a [routerLink]="['.', 'create']">
      <button mat-raised-button>
        <mat-icon>add</mat-icon>
        Create a Video
      </button>
    </a>
  </div>
  <div *ngIf="!isVideosLoaded">Loading...</div>
  <div *ngIf="isVideosLoaded">
    <div class="video" *ngFor="let video of videos">
      <div class="video-info">
        <a [routerLink]="['/videos', video._id]">{{ video.name }}</a>
        <p>{{ video.createdAt | date }}</p>
        <p>{{ video.youtubeLink }}</p>
      </div>
      <div class="video-buttons">
        <a [routerLink]="['/videos', 'edit', video._id]">
          <button mat-raised-button color="primary">Edit</button>
        </a>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>
  </div>
</div>
