<div class="container">
    <!-- <h3>Session Words</h3> -->
    <div class="session-words" *ngIf="words">
        <div *ngFor="let word of words" class="session-word" [class.active]="word.isActive">
            <div class="wordInfo">
                <p class="hebrew">
                    <span class="lang">HE</span> {{word.hebrew}} [{{word.definitions[0].phonetic}}]
                </p>
                <p class="english">
                    <span class="lang">EN</span> {{word.definitions[0].english}}
                </p>
                <p class="french">
                    <span class="lang">FR</span> {{word.definitions[0].french}}
                </p>
                <div *ngFor="let wordSession of word.definitions[0].sessions">
                    <span class="location">{{ wordSession.location | youtubeCurrentTime }}</span>
                </div>
            </div>
            <div class="buttons">
                <button mat-icon-button color="accent" (click)="onDeleteWord(word)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="onEditWord(word)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>