<div class="container" *ngIf="video">
    <div class="header">
        <h2>{{video.name}}</h2>
        <a [routerLink]="['/videos', video._id]">
            <button mat-raised-button color="primary">VIEW</button>
        </a>
    </div>
    <div class="middle-section">
      <div class="videoArea">
          <app-youtube [video]='video'></app-youtube>
      </div>
      <div class="subtitles-area" [formGroup]="videoForm">
          <span>Subtitles</span>
          <mat-form-field class="form-field">
              <input type="text" matInput placeholder="Youtube Link" formControlName="youtubeLink" required>
          </mat-form-field>

          <mat-form-field class="form-field">
              <input type="text" matInput placeholder="Name of video" formControlName="name" required>
          </mat-form-field>
          <div *ngFor="let subtitle of video.subtitles; let i = index">
            {{ i }} // {{ subtitle.startTime }} - {{ subtitle.endTime }}
          </div>
      </div>
    </div>
    <div class="subtitlesArea">
        <h3>Create subtitles</h3>
        <div>
            <form [formGroup]="videoForm">
                <!-- <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="Youtube Link" formControlName="youtubeLink" required>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="Name of video" formControlName="name" required>
                </mat-form-field> -->

                <div class="subtitles form-group" formArrayName="subtitles">
                    <div *ngFor="let subtitle of videoForm['controls'].subtitles['controls']; let i=index" [formGroupName]="i" class="subtitle">
                        <div>
                            <h4>Subtitle</h4>
                            <button mat-stroked-button color="primary" (click)="addSubtitle()">Add subtitle</button>
                        </div>
                        <div>
                            <button mat-stroked-button color="warn" *ngIf="i>0" (click)="deleteSubtitle(i)">Delete Subtitle</button>
                        </div>
                        <mat-form-field>
                            <input type="text" placeholder="Start time" matInput formControlName="startTime">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" placeholder="End time" matInput formControlName="endTime">
                        </mat-form-field>
                        <button mat-stroked-button color="primary" (click)="addWord(i)">Add word</button>
                        <hr>
                        <div class="words-area form-group" formArrayName="words">
                            <div class="sentence-number">{{i}}</div>
                            <div class="words">
                                <div *ngFor="let word of subtitle['controls'].words['controls']; let j=index" [formGroupName]="j" class="word">
                                    <mat-form-field>
                                        <input type="text" placeholder="Hebrew" matInput formControlName="hebrew">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" placeholder="French" matInput formControlName="french">
                                    </mat-form-field>
                                    <button mat-stroked-button color="warn" *ngIf="j>0" (click)="deleteWord(i, j)">Delete word</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button mat-raised-button (click)="resetForm()">Reset Form</button>
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!videoForm.valid" (click)="onSubmit()">Save</button>
        </div>
    </div>
</div>
