:host {
    overflow: auto;
}

.container {
    height: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    button {
      height: 36px;
    }
    mat-form-field {
        margin-right: 5px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        button {
          margin: 0 20px;
        }
    }
    .middle-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      .subtitles-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        padding: 20px;
        overflow: auto;
        border: 2px solid white;
        .subtitle {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    .subtitlesArea {
        background: grey;
        padding: 10px;
        overflow: auto;
        padding-right: 20px;
        min-height: 300px;
        flex: 1;
        border: 2px solid white;
        .subtitles {
            display: flex;
            flex-direction: column;
            .subtitle {
                display: flex;
                flex-direction: column;
                .words-area {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .sentence-number {
                        margin: 20px;
                        font-size: 30px;
                    }
                    .words {
                        display: flex;
                        flex-direction: column;
                        .word {
                            margin: 5px 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .move-word {
                              margin: 0 10px;
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              button {
                                margin: 5px 0;
                              }
                            }
                        }
                    }
                }
            }
        }
    }
    .videoArea {
        flex: 1;
        overflow: auto;
        margin-bottom: 20px;
    }
}
