.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .new-word {
        mat-form-field {
            font-size: 12px;
            width: 80px;
            margin-right: 10px;
        }
    }
    .buttons {
        button {
            margin-right: 20px;
        }
    }
    .word-result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .word-text {
            margin: 10px 10px 10px 0;
        }
    }
}

:host {
    height: 100%;
}