<div class="container">
    <div *ngIf="session">
        <h2>{{session.name}}</h2>
    </div>

    <app-session-words [words]="session?.words"></app-session-words>

    <div class="new-word">
        <h3>Add a new word</h3>
        <span class="current-time" *ngIf="currentTime">Current time: {{currentTime | youtubeCurrentTime}}</span>
        <form [formGroup]="wordForm">
            <mat-form-field class="form-field">
                <input type="text" matInput placeholder="Hebrew" formControlName="hebrew" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="onSearch()">
              <mat-icon>search</mat-icon>
              Search Word
            </button>
            <div>
                <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="Français" formControlName="french">
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="English" formControlName="english">
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="Phonetic" formControlName="phonetic">
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input type="text" matInput placeholder="Location" [ngModel]="currentTime | youtubeCurrentTime" (ngModelChange)="currentTime=$event" [ngModelOptions]="{standalone: true}" name="inputField" type="text">
                </mat-form-field>
            </div>

            <!-- <mat-form-field class="form-field">
                <textarea type="text" matInput placeholder="Notes" formControlName="notes"></textarea>
            </mat-form-field> -->
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">Reset</button>
                <button mat-raised-button color="primary" type="submit" (click)="addWord()">Add word</button>
            </div>
        </form>
    </div>

    <div *ngIf="isMorfixLoading">
        <h3>Morfix</h3>
        <p>Loading...</p>
    </div>

    <div *ngIf="morfixEnglish && morfixHebrew && !isMorfixLoading">
        <h3>Morfix</h3>
        <div *ngIf="morfixEnglish.length > 0 && !isMorfixLoading">
            <div *ngFor="let morfixHe of morfixHebrew; let i = index" class="word-result">
                <div class="word-text">
                    <div class="hebrew">{{morfixHe}}</div>
                    <div class="english">{{morfixEnglish[i]}}</div>
                </div>
                <div class="results-buttons">
                    <button mat-raised-button color="primary" (click)="addEnglish(morfixEnglish[i])">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>