@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './_variables';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', Helvetica;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #4e4e4e;
  background-color: #eaeaea;
  // background-color: #1d1d1d;
  // font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

h3 {
  font-weight: 500;
}

.container {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loadingSpinner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $pink;
}

.matTableRow {
  cursor: pointer;

  &:hover {
    background-color: #eaeaeaab;
  }
}

mat-dialog-container {
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 94, 94);
}

.big-card {

  margin-bottom: 20px;
  // padding: 0 25px;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(152, 152, 152, 0.33);
  box-shadow: 0px 0px 13px 0px rgba(152, 152, 152, 0.33);
  border-radius: 4px;
}

.mat-form-field-label {
  color: #ababab !important;
}

.mat-raised-button.mat-primary {
  background-color: $pink;
}
