.container {
    padding: 10px 30px 30px;
    .session {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}