<div class="header">
    <a class="logo" routerLink="">Hebrew Words</a>
    <nav>
        <!-- <a routerLink="words" [routerLinkActive]="['is-active']">My Words</a>
        <a [routerLink]="['/study', 'list']" [routerLinkActive]="['is-active']">My Sessions</a>
        <a [routerLink]="['/study', 'new']" [routerLinkActive]="['is-active']">New Session</a> -->
        <a [routerLink]="['/videos']" [routerLinkActive]="['is-active']">Videos</a>
        <a [routerLink]="['/videos', 'create']" [routerLinkActive]="['is-active']">Create Video</a>
    </nav>
</div>