<div class="header">
  <a class="logo" routerLink="">Hebrew Words</a>
  <nav>
    <a
      [routerLink]="['/videos']"
      [routerLinkActive]="['is-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Videos</a
    >
    <a
      [routerLink]="['/videos', 'create']"
      [routerLinkActive]="['is-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Create Video</a
    >
    <a
      [routerLink]="['/words/list']"
      [routerLinkActive]="['is-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Words</a
    >
    <a
      [routerLink]="['/words/my-words']"
      [routerLinkActive]="['is-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="isLoggedIn"
      >My Words</a
    >
    <a
      [routerLink]="['/login']"
      [routerLinkActive]="['is-active']"
      *ngIf="!isLoggedIn"
      >Login</a
    >
    <a
      [routerLink]="['/signup']"
      [routerLinkActive]="['is-active']"
      *ngIf="!isLoggedIn"
      >Signup</a
    >
    <a (click)="onClickSignout()" *ngIf="isLoggedIn">Logout</a>
  </nav>
  <div style="flex: 1"></div>
  <div *ngIf="isLoggedIn" class="user">
    <a [routerLink]="['/profile']">{{ currentUser?.firstName | titlecase }}</a>
  </div>
</div>
