@import '../../../../sass/custom-theme.scss';

.header {
  background-color: #1d1d1d;
  color: White;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100%;

  .logo {
    color: inherit;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: $pink;
  }

  nav {
    // height: 60px;
    flex: 1;
    width: 70px;

    a {
      cursor: pointer;
      color: inherit;
      color: #4a4a4a;
      transition: color 0.1s linear;
      margin-bottom: 30px;
      width: 100%;

      .menu-icon {
        width: 100%;
        // font-weight: bold;
        // line-height: 30px;
        font-size: 30px;
        height: 100%;
        text-align: center;
      }

      span {
        font-size: 11px;
        margin-top: 4px;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
        width: 100%;
        text-transform: uppercase;
        display: none;
      }

      &:hover .menu-icon {
        transition: color 0.1s linear;
        color: $pink;
      }

      &:hover span {
        transition: color 0.2s linear;
        color: white;
      }

      &.is-active {
        // border-left: 4px solid $pink;
      }

      &.is-active span {
        color: white;
      }

      &.is-active .menu-icon {
        color: $pink;
        font-weight: normal;
      }
    }
  }


}
