.container {
  margin: 30px 40px;
  padding: 10px 40px;

  // background: white;
  .form-group {
    margin: 50px 0;
  }

  .buttons {
    margin: 30px 0;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
