<button mat-raised-button (click)="onClickAddWord()">
    <mat-icon>add</mat-icon>
    Add a word
</button>

<!-- <div>
    <h2>Add a word</h2>

    <form [formGroup]="wordForm">
        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="עברית" formControlName="hebrew" required>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="Français" formControlName="french">
        </mat-form-field>

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="English" formControlName="english">
        </mat-form-field>

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="Phonetic" formControlName="phonetic">
        </mat-form-field>

        <mat-form-field class="form-field">
            <textarea type="text" matInput placeholder="Notes" formControlName="notes"></textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="Source" formControlName="source">
        </mat-form-field>

        <div class="buttons">
            <button mat-raised-button (click)="resetForm()">RESET FORM</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!wordForm.valid" (click)="onSubmit()">ADD WORD</button>
        </div>
    </form>
</div> -->