:host {
    color: black;
    mat-form-field {
        margin-right: 10px;
    }
    /deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
        color: grey;
    }
    /deep/ .mat-form-field-ripple {
        background-color: black !important;
    }
    /deep/ .mat-form-field-underline {
        border-bottom: 1px solid grey!important;
    }
    button {
        margin-right: 20px;
    }
}