.collection-container {
  // padding: 20px;

  .empty-collection {
    padding: 20px;
  }

  .word {
    width: 100%;
    padding: 10px 15px;

    &:nth-child(odd) {
      background-color: #424242;
    }

    &:nth-child(even) {
      background-color: inherit;
    }

    &:hover {
      background-color: #655c5f;
    }

    .word-field {
      margin: 10px 0;

      .italic {
        font-style: italic;
        margin-left: 10px;
      }

      .word-field-icon {
        width: 30px;
      }

      .flag {
        width: 20px;
        margin-right: 15px;
      }
    }

    .buttons {
      height: 100%;
    }
  }
}



:host {
  overflow: auto;
  // height: 100%;
}
