<div fxLayout="column" fxLayoutAlign="start start" class="collection-container" fxFlex>
  <div *ngIf="!currentCollection$ || (currentCollection$ | async)?.words.length == 0" class="empty-collection">
    The collection is empty. Start adding words to the collection.
  </div>
  <div *ngFor="let word of (currentCollection$ | async)?.words" class="word" fxLayout="row"
    fxLayoutAlign="space-between center">
    <div class="info">
      <div class="word-field" fxLayout="row" fxLayoutAlign="start center">
        <img class="flag" src="assets/img/israel-flag.png" />
        <span>{{ word.hebrew }}</span>
        <span class="italic" *ngIf="word?.pronunciation">[{{ word.pronunciation }}]</span>
      </div>
      <div class="word-field" fxLayout="row" fxLayoutAlign="start center">
        <img class="flag" src="assets/img/france-flag.png" />
        <span>{{ word.french }}</span>
      </div>
      <!-- <div class="word-field" fxLayout="row" fxLayoutAlign="start center" *ngIf="word?.pronunciation">
        <mat-icon class="word-field-icon">hearing</mat-icon>

      </div> -->
      <div class="word-field" fxLayout="row" fxLayoutAlign="start center">
        {{ word.type }}
      </div>
    </div>
    <div class="buttons">
      <button mat-icon-button color="accent" (click)="removeWordFromCollection(word)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
