<div class="container">
  <div class="header">
    <h2>Mes informations</h2>
    <div class="buttons">
      <button
        *ngIf="!editMode"
        mat-raised-button
        color="primary"
        [disabled]="false"
        (click)="editMode = true"
      >
        <mat-icon>edit</mat-icon>
        EDIT
      </button>
      <button
        *ngIf="editMode"
        mat-raised-button
        color="primary"
        [disabled]="false"
        (click)="onClickSave()"
      >
        <mat-icon>save</mat-icon>
        SAVE
      </button>
    </div>
  </div>
  <div class="user-info" *ngIf="(user$ | async)">
    <div *ngIf="!editMode">
      <div class="user-field">
        <span>Prenom</span>{{ (user$ | async)?.firstName }}
      </div>
      <div class="user-field">
        <span>Nom</span>{{ (user$ | async)?.lastName }}
      </div>
      <div class="user-field">
        <span>Email</span>{{ (user$ | async)?.email }}
      </div>
      <div class="user-field"><span>Role</span>{{ (user$ | async)?.role }}</div>
      <div class="user-field"><span>ID</span>{{ (user$ | async)?.id }}</div>
    </div>
    <div *ngIf="editMode">
      <form [formGroup]="userForm">
        <div>
          <mat-form-field class="form-field">
            <input
              type="text"
              matInput
              placeholder="Prenom"
              formControlName="firstName"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <input
              type="text"
              matInput
              placeholder="Nom"
              formControlName="lastName"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <input
              type="text"
              matInput
              placeholder="Role"
              formControlName="role"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <input
              type="text"
              matInput
              placeholder="Frist Name"
              formControlName="firstName"
              required
            />
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
