<div class="container">
  <div class="loadingSpinner" *ngIf="!video">
    <mat-spinner></mat-spinner>
  </div>
  <div class="videoLoaded" *ngIf="video">
    <div class="header">
      <span class="video-title">{{ video.name }}</span>
      <a [routerLink]="['/videos', 'edit', video._id]" *ngIf="isUserAdmin">
        <button mat-raised-button color="primary">EDIT</button>
      </a>
      <button (click)="onClickGoBack()" mat-icon-button color="accent">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div class="video">
      <app-youtube [video]="video" [subtitleStartTime]="subtitleStartTime"></app-youtube>
    </div>

    <!-- <div class="subtitles-buttons">
          <div>
              {{ currentTime | youtubeCurrentTime }}
          </div>
          <button mat-raised-button color="primary" (click)="onClickPause()">Pause</button>
      </div> -->

    <div class="subtitles">
      <div>
        <button mat-raised-button color="primary" (click)="onClickBeginning()">
          <mat-icon>skip_previous</mat-icon>
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="selectedSentence === 0" (click)="onClickPrevious()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="sentence-container">
        <div class="sentence" *ngIf="video.subtitles[selectedSentence]">
          <div class="word" *ngFor="
              let word of video.subtitles[selectedSentence].words;
              let i = index
            " (click)="onClickWord(word)" (mouseover)="showDefinition(i)" (mouseout)="showDefinition(null)">
            <span>{{ word.hebrew }}</span>
            <div class="definition" [ngClass]="{'show': i === definitionShowed && word.french}">
              <span>{{ word.french }}</span>
              <!-- <span *ngIf="word.pronunciation">
                - [{{ word.pronunciation }}]</span> -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="selectedSentence === video.subtitles.length - 1"
          (click)="onClickNext()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="loop-btn" (click)="onClickLoop()"
          [class.activated]="loopActivated">
          <mat-icon>loop</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
