<div class="header" fxLayout="row" fxLayoutAlgin="start center">
  <app-search></app-search>
  <div fxFlex></div>
  <div class="user" fxLayout="row" fxLayoutAlign="center center">
    <a fxLayout="column" fxLayoutAlign="center center" [routerLinkActive]="['is-active']">
      <mat-icon class="notification-icon">notifications</mat-icon>
      <!-- <span>{{ currentUser?.firstName | titlecase }}</span> -->
    </a>
    <a [routerLink]="['/profile']" fxLayout="column" fxLayoutAlign="center center" [routerLinkActive]="['is-active']">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <!-- <span>{{ currentUser?.firstName | titlecase }}</span> -->
    </a>
  </div>
</div>
