.dialog-container {
  // min-height: 300px;

  .header {
    .close-icon {
      cursor: pointer;
      margin: -10px -10px 0 0;
    }
  }

  .content {
  }
}

.word {
  min-width: 200px;
  padding: 0 5px;

  .word-field {
    margin-bottom: 10px;

    .flag {
      width: 20px;
      margin-right: 15px;
    }
  }
}

.playlists {
  width: 300px;
  padding: 0 5px;
  overflow: hidden;

  .loadingSpinner {
    width: 100%;
    height: 200px;
    margin: 20px 0;
  }

  .playlist-title {
    font-size: 20px;
    font-weight: bold;
  }

  .collections-form {
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;

    collections-list {
      height: 180px;
    }
  }

  .checkbox {
    margin: 15px 0;
  }
}

mat-form-field {
  margin-right: 10px;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: grey;
}

/deep/ .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-form-field-underline {
  border-bottom: 1px solid grey !important;
}
