@import '../../../../sass/custom-theme.scss';

:host {
  height: 100%;
}

.container {
  padding: 0;

  .content {
    overflow: hidden;
    height: 100%;
  }

  .router-container {
    overflow: auto;
    height: 100%;
  }

  .collections-container {
    // margin-top: 10px;
    height: 100%;

    .collections-list {
      max-width: 400px;
      min-width: 250px;
      margin-right: 40px;
      padding: 10px 20px;
      height: 100%;
      background-color: #666a73;

      .create-collection {
        margin-top: 20px;
      }

      .collection {
        margin: 15px 0;

        .lock-icon {
          font-size: 15px;
          height: 15px;
          width: 15px;
          margin-left: 10px;
        }

        a {
          color: white;
          font-size: 18px;
          // height: 40px;
          display: inline-block;

          &.active {
            color: $pink;
          }

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

/deep/ .mat-select-value {
  color: $pink;
}
