@import '../../../../sass/custom-theme.scss';

.container {
  .collections-container {
    margin-top: 10px;

    .collections-list {
      width: 400px;
      margin-right: 40px;

      .create-collection {
        margin-top: 20px;
      }

      .collection {
        margin: 15px 0;

        .lock-icon {
          font-size: 15px;
          height: 15px;
          width: 15px;
          margin-left: 10px;
        }

        a {
          color: white;
          font-size: 18px;
          // height: 40px;
          display: inline-block;

          &.active {
            color: $pink;
          }

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}

/deep/ .mat-select-value {
  color: $pink;
}
