<div class="container">
  <h3 mat-dialog-title>Add a new word</h3>
  <div mat-dialog-content>
    <form [formGroup]="wordForm">
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="עברית" formControlName="hebrew" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input type="text" placeholder="French" matInput formControlName="french">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="pronunciation" matInput formControlName="pronunciation">
      </mat-form-field>
      <div>
      </div>
    </form>
  </div>

  <div>
    <button mat-raised-button (click)="resetForm()">Reset Form</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="1" type="submit" [disabled]="!wordForm.valid" (click)="onSubmit()">Save</button>
  </div>
</div>
