.user-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  .user-info {
    flex: 1;

    span {
      font-weight: bold;
      display: inline-block;
      width: 100px;
      margin-right: 10px;
    }

    .user-field {
      line-height: 30px;
    }
  }
}

hr {
  width: 100%;
}

/deep/ .mat-select-value {
  color: rgba(255, 255, 255, 0.87);
}
