<div class="container">
  <div class="content" fxLayout="row">
    <div class="word">
      <p>{{ data.word.hebrew }}</p>
      <p>{{ data.word.french }}</p>
      <p>{{ data.word.pronunciation }}</p>
      <p>{{ data.word.type }}</p>
    </div>
    <div class="playlists">
      <h3>Collections</h3>
      <form [formGroup]="playlistsForm">
        <div formArrayName="playlists">
          <div *ngFor="
              let playlist of playlistsForm.controls['playlists'].controls;
              let i = index
            "
            [formGroupName]="i" class="checkbox">
            <mat-checkbox formControlName="value" (change)="onCheckboxClick($event, playlist.controls?._id?.value)">
              {{ playlist.controls?.name?.value }}
            </mat-checkbox>
          </div>

        </div>
      </form>
      <button mat-icon-button color="accent" (click)="onCreateCollection()" *ngIf="!createMode">
        CREATE COLLECTION
      </button>
      <div class="create-collection" *ngIf="createMode">
        <mat-form-field class="form-field">
          <input type="email" matInput placeholder="Name" [(ngModel)]="newCollection">
        </mat-form-field>
        <button mat-icon-button color="accent" (click)="onSaveCollection()">
          SAVE
        </button>
      </div>
    </div>
  </div>
</div>
