.video-card {
  // width: 300px;
  outline: none;
  margin: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);

  mat-card-header {
    flex-direction: row-reverse;


    mat-card-title {
      font-size: 20px;
      font-weight: 500;
      direction: rtl;
    }

    mat-card-subtitle {
      direction: rtl;
    }

    /deep/ .mat-card-header-text {
      flex: 1;
    }
  }



  .loading {
    padding-top: calc(75% + 36px);
    background-color: rgb(180, 180, 180);
  }
}
