:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.word {
  display: flex;
  flex-direction: row;
}

.container {
  .if-words {
    display: flex;
    flex-direction: column;

    .table {
      overflow: auto;
      flex: 1;

      table {
        width: 100%;

        .mat-header-cell {
          color: white;
        }

        .mat-header-row {
          background: #ef3e7a;
        }

        .mat-column-english {
          max-width: 300px;
        }

        .mat-column-sessions {
          max-width: 300px;
        }

        .mat-column-select {
          padding-right: 24px;
        }

        .buttons {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.favorite-form {
  padding: 15px;
  color: #000;
  height: 200px;
  width: 100px;
}
